<table class="table">
  <thead>
  <tr>
    <th scope="col">Original Value</th>
    <th scope="col">Pipe name</th>
    <th scope="col">After pipe</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ stringVariable }}</td>
    <td>uppercase</td>
    <td>{{ stringVariable | uppercase }}</td>
  </tr>
  <tr>
    <td>{{ stringVariableTwo }}</td>
    <td>lowercase</td>
    <td>{{ stringVariableTwo | lowercase }}</td>
  </tr>
  <tr>
    <td>{{ birthday }}</td>
    <td>date</td>
    <td>{{ birthday | date:'fullTime' }}</td>
  </tr>
  <tr>
    <td>{{ jsonObject }}</td>
    <td>json</td>
    <td>{{ jsonObject | json }}</td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
  <tr>
    <td>{{ kebabCaseVariable }}</td>
    <td>snakeCase</td>
    <td>{{ kebabCaseVariable | snakeCase }}</td>
  </tr>
  </tbody>
</table>
<hr>
<div>
  <h4>ngFor</h4>
  <ul>
    <li *ngFor="let user of users">
      {{ user }}
    </li>
  </ul>
</div>
<hr>
<div>
  <h4>ngIf</h4>
  <button (click)="toggleIsAuth()">Log in / Log out</button>
  <div *ngIf="isAuth; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>User is logged in.</ng-template>
  <ng-template #elseBlock>User is NOT logged in.</ng-template>
</div>
